<app-sidebar (onToggleSideNav)="onToggleSideNav($event)"></app-sidebar>

<div class="body" [ngClass]="getBodyClass()" >
    <router-outlet></router-outlet>
    <div class="text-center">
        <h1>Seguimiento de quejas para puntos de atención</h1>
    </div>

    <br>
    <div class="centrar">
        <table class="table table-striped text-center" id="table">
          <thead class="table-dark">
            <tr>
              <th class="cabecera-tabla">No. de Queja</th>
              <th class="cabecera-tabla">Etapa</th>
              <th class="cabecera-tabla">Detalle Queja</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let listaQuejas of obtenerElementosPorPagina()">
              <th>{{listaQuejas.correlativo}}</th>
              <th>{{listaQuejas.detalle}}</th>
              <th>
              <button type="button" class="btn btn-primary" [routerLink]="['../ficha']" [queryParams]="{idQueja: listaQuejas.idQueja}">Ver ficha</button>
                <button  class="btn btn-danger" style="margin-left: 5px">Botón Ingresar </button>
                <button class="btn btn-primary" style="margin-left: 5px">Detalle </button>
              </th>

           
            </tr>
  
          </tbody>
        </table>
        <div>
            <button class="Filtrar2" (click)="retrocederPagina()"> Anterior </button>
            <span style="font-size: 10;"> Página {{ paginaActual }} de {{ numeroDePaginas() }} </span>
            <button class="Filtrar2" (click)="avanzarPagina()"> Siguiente ></button>
          </div>




</div>