

  <mat-card *ngIf="fichaQueja">
      <mat-card-title class="titulo">correlativo</mat-card-title>
      <mat-card-content class="sub">{{fichaQueja.correlativo}}</mat-card-content>

      <mat-card-title class="titulo">Tipo de queja</mat-card-title>
      <mat-card-content class="sub">{{fichaQueja.descripcionTipoQueja}}</mat-card-content>

      <mat-card-title class="titulo">Detalle de queja</mat-card-title>
      <mat-card-content class="sub">{{fichaQueja.detalleQueja}}</mat-card-content>
      
      <mat-card-title class="titulo">fecha de ingreso</mat-card-title>
      <mat-card-content class="sub">{{fichaQueja.fechaIngreso}}</mat-card-content>

      <mat-card-title class="titulo">medio de ingreso</mat-card-title>
      <mat-card-content class="sub">{{fichaQueja.nombreMedio}}</mat-card-content>
  </mat-card>



  <div class="row">
    <div class="col">
      <label for="text">Regiones</label>
      <div class="col-sm-10">
        <mat-form-field appearance="legacy" class="campo1">
          <mat-label id="puntoAtencionLabel">Selecciona una región</mat-label>
          <mat-select required="true">
            <mat-option *ngFor="let listaRegiones of listaRegiones" [value]="listaRegiones.idRegion" (click)="traerPuntos(listaRegiones.idRegion)">{{listaRegiones.nombreRegion}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    
    <div class="col" *ngIf="puntoAtencionView">
      <label for="text">Puntos de Atención</label>
      <div>
        <mat-form-field appearance="legacy" class="campo1">
          <mat-label id="puntoAtencionLabel">Selecciona un punto de atención</mat-label>
          <mat-select required="true">
            <mat-option *ngFor="let listaPuntos of listaPuntos" [value]="listaPuntos.idPuntoAtencion">{{listaPuntos.nombrePunto}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  












  <div class="botones">
   
    <button mat-raised-button  color="warn" class="rechazar" (click)="onCancelar()">regresar</button>
    <button type="button" class="btn btn-primary asignar" disabled="habilitarAsignacion">Asignar</button>
</div>
