
  body{
    background-image: url("src\assets\imagenes\FondoHome.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  

  .row-campos{

    margin: 15px;
    margin-bottom: 55px;
    
    }

  .button{
    font-family: 'Segoe UI Black', Courier, monospace;
    font-size: 32px;
    background-color: rgb(119, 200, 220);
    width: 250px;
    height: 45px;
    margin-right: 15px;
    margin-left: 15px;
  }
  
  
  .example-header-image {
    background-image: url('src\assets\imagenes\quejas1.jpg');
    background-size: cover;
  }
  

  .navegacion {
    background-color: #333;
     
  color: #fff;
  padding: 10px;
   
  list-style: none;
    
  margin: 0;
    
  padding: 0;

  display: inline-block;
    
  margin-right: 20px;
   
  margin-right: 0;
   
  color: #fff;
   
  text-decoration: none;
  
  text-decoration: underline;
}