<!DOCTYPE html>
<html lang="en">

<body>

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark  bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="https://github.com/Juarezgump655" routerLinkActive="active" class="nav-link ms-auto"
          style="color:white;">JUAREZGUMP655@</a>
      </li>

      <li class="nav-item">
        <a href="https://github.com/esamconcoha" routerLinkActive="active" class="nav-link ms-auto"
          style="color:white;">ESAMCONCOHA@</a>
      </li>

      <li class="nav-item">
        <a href="registrarse-usuario" routerLinkActive="active" class="nav-link " style="color:white;">REGISTRARSE</a>
      </li>
      <li class="nav-item">
        <a href="auto-consulta-usuario" routerLinkActive="active" class="nav-link ms-auto" style="color:white;">CONSULTAS DE
          QUEJAS</a>
      </li>
      <li class="nav-item ">
        <a href="/login" routerLinkActive="active" class="nav-link ms-auto" style="color:white;">INICIAR SESIÓN</a>
      </li>

    </ul>
  </nav>
  <br>
  <br>
  <section class="container">
    <div class="row">

      <div class="col">
        <div class="row row-campos">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Nuestro sistema de quejas</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/imagenes/quejas1.jpg">
            <mat-card-content>
              <p>
                Buscamos brindar siempre el mejor servicio, por lo que ahora contamos con un sistema de quejas
                 para conocer sus inconformidades y así mejorar nuestros servicios.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div class="col">
        <div class="row row-campos">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Atencion Presencial</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/imagenes/quejas2.jpg">
            <mat-card-content>
              <p>
                Nuestros agentes del servicio al cliente están preparados para escuchar sus inconformidades e ingresarlas 
                en nuestro sistema de quejas. Puedes acercarte a cualquiera de nuestros puntos de atención y realizar tu queja.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>


      <div class="col">
        <div class="row row-campos">
          <mat-card>
            <mat-card-header>
              <mat-card-title >
                Autoservicio
              </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/imagenes/quejas3.jpg">
            <mat-card-content>
              <p>
                También hemos puesto a disposición de nuestros clientes una nueva opción para presentar sus quejas de 
                manera autónoma a través de nuestro sistema, sin necesidad de acercarse a un punto de atención.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>


    </div>
  </section>
</body>

</html>