.body{
    
    width: (100%-5rem);
    height: 100%;
    margin-left: 5rem;
    z-index:0;
    position: relative;
    top:0;
    transition: all .5s ease;
    background: #f4f7fa;
    padding: 3rem;

}

.main-title{
    width: 300px;
    text-align: center;
   
}

.body-trimmed{
    width: (100%-16.5625rem);
    margin-left: 16.5625rem;

}
.body-md-screen{
    width: (100%-5rem);
    margin-left: 5rem;
}


.formulario{
    width: 600px;
    margin-left: 350px;
}

.titulo{
    font-size: large;
    
    text-align: center;
}

.sub{
    font-size: large;
    text-align: center;
    margin-bottom: 50px;
  
}

.botones{
    text-align: center;
    margin-top: 80px;
   
}

.asignar{
    margin-left: 90px;
    width: 150px;
}

.rechazar{
    width: 150px;
}

.regresar{
    margin-right: 90px;
    width: 150px;
}