<!DOCTYPE html>
<html lang="en">

<body >

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark  bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="https://github.com/Juarezgump655" routerLinkActive="active" class="nav-link ms-auto"
          style="color:white;">JUAREZGUMP655@</a>
      </li>
      <li class="nav-item ">
        <a href="/login" routerLinkActive="active" class="nav-link ms-auto" style="color:white;">INICIAR SESIÓN</a>
      </li>

    </ul>
  </nav>
  <br>
  <br>
  <section class="container">
    <div class="row">

      <div class="col">
        <div class="row row-campos">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Nuestro sistema de Inventario</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/imagenes/Istock1.jpg">
            <mat-card-content>
              <p>
                Este sistema de inventarios web ofrece una interfaz intuitiva y fácil de usar, lo que permite a los usuarios realizar tareas como agregar nuevos productos, actualizar información de inventario, realizar ajustes y registrar ventas de manera eficiente. Además, proporciona la funcionalidad de generar informes detallados que brindan información valiosa sobre las tendencias de ventas, los productos más populares y el rendimiento general del inventario.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div class="col">
        <div class="row row-campos">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Atencion Personalizada</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/imagenes/quejas2.jpg">
            <mat-card-content>
              <p>
                La atención personalizada es un enfoque centrado en el cliente que busca brindar un servicio individualizado y adaptado a las necesidades y preferencias de cada persona. En el contexto de un negocio en línea, la atención personalizada se logra a través de un sistema que permite interactuar directamente con los clientes, proporcionándoles un trato personalizado y eficiente.  </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>


      <div class="col">
        <div class="row row-campos">
          <mat-card>
            <mat-card-header>
              <mat-card-title >
                Autonomia
              </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/imagenes/Autonomia.jpg">
            <mat-card-content>
              <p>
                La autonomía de un sistema de inventario se refiere a su capacidad para funcionar de manera independiente y automatizada, sin requerir una supervisión constante o intervención humana en las tareas operativas. Un sistema de inventario autónomo está diseñado para llevar a cabo diversas funciones y procesos relacionados con el inventario de manera automática y eficiente.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>


    </div>
  </section>
</body>

</html>