h2{
    font-family: 'Roboto Black', Courier, monospace;
    color:Black;
    font-size: 40pt;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container mat-radio-button {
    margin-bottom: 10px;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .container {
    display: flex;
    align-items: center;
  }
  
  .step-indicator {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .step-item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 200px;
    background-color: lightgray;
    margin-bottom: 10px;
  }
  
  .step-item.completed {
    background-color: #13FE00;
  }
  
  .step-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .step-list li {
    margin-bottom: 10px;
  }
  
  .step-list li.completed {
    color: #13FE00;
  }
  